# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idx/dev.nix
Backend/db.js
firebase.js
/.expo
.env
.babelrc
jest.config.cjs
jest.setup.js
coverage
src/Components/__test__/